{{#if categories}}

{{#each categories}}

## {{title}} {{../title}}

{{#each children}}

<div className="section member-group">

{{> member}}

</div>
{{/each}}

{{/each}}

{{else}}

## {{title}}

{{#each children}}

{{> member}}

{{/each}}

{{/if}}
