:root {
  --ifm-font-family-base: 'Go', -apple-system, blinkmacsystemfont, sans-serif;
  --ifm-font-family-monospace: 'Fira Code', menlo, 'SF Mono', 'Andale Mono', 'Roboto Mono', monaco, monospace;
  --nirrius-sidebar-offset: 4rem;
  --nirrius-red-lightest: #fff6f6;
  --nirrius-red-light: #ffeaea;
  --nirrius-red-base: #faa;
  --nirrius-red-dark: #c36767;
  --nirrius-teal-light: #eaffff;
  --nirrius-teal-base: #9eeeee;
  --nirrius-teal-dark: #88c;
  --nirrius-teal-darkest: #5aa;
  --nirrius-yellow-light: #ffffea;
  --nirrius-yellow-base: #eeee9e;
  --nirrius-yellow-dark: #99994c;
  --nirrius-green-light: #eaffea;
  --nirrius-green-base: #8c8;
  --nirrius-green-dark: #484;
  --nirrius-blue-lightest: #f4fbff;
  --nirrius-blue-light: #65b9e2;
  --nirrius-blue-base: #0af;
  --nirrius-blue-dark: #08c;
  --nirrius-blue-darker: #069;
  --nirrius-blue-darkest: #005580;
  --nirrius-shadow: rgb(0 0 0 / 10%);
  --color-code-background: #272822;
  --color-interface: rgb(102 217 239);
  --color-function: var(--nirrius-teal-dark);
  --color-type: rgb(230 219 116);
  --color-enum: rgb(230 219 116);
  --color-class: var(--nirrius-red-dark);
  --color-module: var(--nirrius-red-dark);
  --ifm-font-size-base: 16px;
  --docs-content-gap: var(--sixty-four-px-rem);
  --docs-sidebar-width: 20rem;
  --docs-body-sidebar-width: var(--docs-sidebar-width);
  --docs-page-side-padding: 1rem;
  --docs-max-page-width: 1440px;
  --docs-page-width: var(--docs-max-page-width);
  --docs-sidebars-combined-width: calc(var(--docs-sidebar-width) + var(--docs-body-sidebar-width));
  --docs-body-width: calc(var(--docs-page-width) - var(--docs-sidebars-combined-width));
  --docs-logo-lockup-gap: 0.4rem;
  --docs-logo-lockup-gap-small: 0.2rem;
  --docsearch-searchbox-background: var(--ifm-color-primary) !important;
  --docsearch-muted-color: var(--ifm-color-emphasis-700) !important;
  --sidebar-background-color: hsl(0deg 99% 92%);
  --ifm-menu-color-background-active: var(--nirrius-yellow-light) !important;
  --ifm-navbar-shadow: transparent;
  --ifm-global-shadow-lw: -10px 15px 0 var(--nirrius-shadow);
  --ifm-global-shadow-md: -2px 3px 0 var(--nirrius-shadow);
  --ifm-global-border-width: 6px;
  --ifm-toc-border-color: transparent;
  --ifm-pagination-nav-color-hover: var(--nirrius-green-dark);
  --ifm-background-color: var(--nirrius-red-lightest);
  --ifm-background-surface-color: var(--nirrius-teal-light);
  --ifm-color-primary: var(--nirrius-blue-base);
  --ifm-table-head-background: var(--nirrius-teal-base);
  --ifm-table-stripe-background: var(--nirrius-blue-lightest);
  --ifm-table-background: var(--ifm-color-emphasis-0);
  --ifm-color-primary-dark: var(--nirrius-blue-dark);
  --ifm-color-primary-darker: var(--nirrius-blue-darker);
  --ifm-color-primary-darkest: var(--nirrius-blue-darkest);
  --ifm-color-primary-light: var(--nirrius-blue-light);
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 90%;
  --ifm-global-spacing: 1.5rem;
  --ifm-global-radius: 0;
  --ifm-breadcrumb-border-radius: 0;
  --ifm-breadcrumb-item-background-active: var(--nirrius-green-light);
  --ifm-menu-color: var(--ifm-color-emphasis-1000);
  --docusaurus-highlighted-code-line-bg: hsl(180deg 70% 78% / 15%);
  --ifm-transition-fast: 50ms;
}

/*  header */

[id*='-function'],
[id*='-variable'],
[id*='-type'],
[id*='-module'] {
  font-family: var(--ifm-font-family-monospace);
}

[href*="/interfaces/"],
[href*="/interfaces/"] > *,
[href*="/classes/"],
[href*="/classes/"] > *,
[href*="/functions/"],
[href*="/functions/"] > *,
[href*="/variables/"],
[href*="/variables/"] > *,
[href*="/types/"],
[href*="/types/"] > *,
[href*="/module/"],
[href*="/module/"] > * {
  font-weight: 600;
  font-family: var(--ifm-font-family-monospace) !important;
}

.breadcrumbs__link,
.pagination-nav__link {
  background-color: var(--nirrius-green-light);
  border: 1px solid var(--nirrius-green-dark);
  box-shadow: -2px 3px 0 var(--nirrius-shadow);
  padding: 0.5em 0.75em;
}

a.breadcrumbs__link {
  text-decoration: underline;
}

.breadcrumbs__item--active .breadcrumbs__link {
  background-color: var(--nirrius-blue-base);
  color: inherit;
}

.footer {
  box-shadow: 0 9px var(--nirrius-shadow) inset;
}

@media (min-width: 769px) {
  .footer {
    display: none;
  }
}

.footer--dark {
  --ifm-footer-background-color: var(--nirrius-teal-dark);
  --ifm-footer-title-color: var(--nirrius-red-lightest);
}

/* hero */

.hero--primary {
  --ifm-hero-background-color: transparent;
  --ifm-hero-text-color: var(--ifm-color-content);
}

/* table */

table thead tr {
  background-color: var(--ifm-table-head-background);
}

/* button */

:where(.button--primary):not(.button--outline) {
  --ifm-button-border-color: var(--ifm-color-emphasis-300);
}

:where(.button--primary):not(.button--outline):hover {
  --ifm-button-border-color: var(--ifm-color-emphasis-400);
}


.prism-code {
  border: 3px solid var(--nirrius-blue-darkest);
}

.docusaurus-mt-lg {
  margin-top: 2rem !important;
}


.section {
  padding: 0.5rem;
  backdrop-filter: hue-rotate(45deg);
  border: 1px solid var(--ifm-color-emphasis-300);
}

.section:not(:first-child) {
  margin-top: 1rem;
}

.section:nth-child(even) {
  backdrop-filter: hue-rotate(90deg);
}
