.menu__list-item .menu__link:not(.menu__link--sublist-caret) {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  display: block !important;
}

.menu__link,
.menu__caret {
  border-radius: 0;
}

.menu__list-item:not(:first-child) {
  margin-top: 1rem;
}


.theme-doc-sidebar-item-category-level-1 > .menu__list,
.theme-doc-sidebar-item-category-level-2 > .menu__list {
  margin-top: 0.5rem;
}

.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible .menu__link:hover,
.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible .menu__link--active,
.menu__link:not([href]) {
  color: var(--ifm-color-content-inverse);
  --ifm-menu-color-background: var(--nirrius-red-dark);
  --ifm-menu-color-background-hover: var(--nirrius-red-base) !important;

  --ifm-menu-border-color: var(--nirrius-green-light);
  --nirrius-shadow: var(--nirrius-red-dark);
  transform: none;
  opacity: .5;
  z-index: 1;
}

.menu__list-item-collapsible .menu__link:hover,
.menu__link:not([href]):hover {
  background-color: var(--ifm-menu-color-background-hover) !important;
  opacity: 1;
}

.menu__link:not([href]):hover {
  --ifm-menu-color-background-hover: var(--nirrius-red-dark) !important;
  opacity: .5 !important;
}

.menu__list-item-collapsible--active {
  background-color: unset;
}
.menu__list-item--collapsed .menu__list {
  display: none !important;
  overflow: unset !important;
}

.menu__list {
  overflow: unset !important;
  height: auto !important;
}

.menu__list,
.menu__caret:before,
.menu__link--sublist-caret:after,
.button {
  transition: none !important;
}
