@media (max-width: 769px) {
  .navbar {
    box-shadow: 0 9px 0 var(--nirrius-shadow) !important;
  }
}

@media (min-width: 769px) {
  .navbar-container {
    display: flex;
    justify-content: center;
  }

  .navbar {
    padding-left: var(--doc-sidebar-width);
    justify-content: center;
    place-items: center;
    align-self: center;
    width: 100%;
    max-width: var(--docs-max-page-width);
  }

  .navbar {
    --ifm-navbar-background-color: transparent;
  }

  .navbar .navbar__brand {
    display: none;
  }

  .navbar__inner {
    margin-left: 1rem;
  }

  .navbar__items {
    gap: 1rem;
  }

  .navbar__item {
    display: inline-flex;
    gap: 0.25rem;
  }
}

.navbar-sidebar__brand {
  background-color: var(--ifm-background-surface-color);
}

.navbar-sidebar {
  --ifm-navbar-background-color: var(--sidebar-background-color);
}

.pagination-nav:empty {
  display: none;
}

.navbar__item,
.pagination-nav__link {
  background-color: var(--nirrius-green-light);
  box-shadow: -6px 9px 0 var(--nirrius-shadow);
  border: 1px solid var(--nirrius-green-dark);
}

.pagination-nav__link:hover .pagination-nav__label {
  text-decoration: underline;
}

.DocSearch-Button {
  --ifm-button-border-color: var(--nirrius-blue-dark);
  --docsearch-searchbox-focus-background: var(--ifm-color-primary-dark) !important;

  border-radius: var(--ifm-button-border-radius) !important;
  border: 2px solid var(--ifm-button-border-color) !important;
  font-family: var(--ifm-font-family-base);
  box-shadow: -6px 9px 0 var(--nirrius-shadow) !important;


}

.DocSearch-Button-Placeholder {
  color: var(--ifm-color-emphasis-100) !important;
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--nirrius-teal-light) !important;
}


.theme-doc-breadcrumbs {
  display: none;
}

@media (min-width: 767px) {
  .theme-doc-breadcrumbs {
    position: sticky;
    top: 1rem;
    z-index: 99;
  }
}
